<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "TestALL">
    <test name = "case1">
        <classes>
            <class name = "TestAPi" />
            <class name = "ListenGuidelineTest" />
            <class name = "online.hayho.api.testcode.model.Book" />
            <class name = "online.hayho.api.testcode.model.ReviewHashMap" />
        </classes>
    </test>
</suite>